<div id="login" class="col-md-4 col-md-offset-4">
	<div id="login-form">
		<h4>Login</h4>
		<form name="login">
			<!--username-->
			<div class="form-group"><input name="email" type="text" ng-model="user.email" /></div>
			<!--password-->
			<div class="form-group"><input name="password" type="password" ng-model="user.password" /></div>
			<!--submit-->
			<div class="form-group"><button class="btn btn-primary" type="submit" ng-click="loginSubmit(user)">Login</button></div>
		</form>
	</div>
</div>